<!-- Start Section Activity of the month -->
<div class="section_activity main_padding">
  <div class="content text-center">
    <div class="container">
      <h2 class="upercase main_title">Activity of the month</h2>
      <span class="borer_bottom"></span>
      <div class="row">
        <div class="col-md-4">
          <div class="box img_box_num_1">
            <div class="content_box">
              <p>Sed ut perspiciatis unde iste natus error sit volup</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box img_box_num_2">
            <div class="content_box">
              <p>Sed ut perspiciatis unde iste natus error sit volup</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box img_box_num_3">
            <div class="content_box">
              <p>Sed ut perspiciatis unde iste natus error sit volup</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section Activity of the month -->
