<!-- Start Section About Me -->
<div class="about_me main_padding">
  <div class="content text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 main_img">
          <img
            src="../../../assets/images/KlayFP.me.jpg"
            alt=""
            class="wow fadeInRight"
          />
        </div>
        <div class="col-md-6 text-left about wow fadeInLeft">
          <h2>I AM SANDRA REIGEL</h2>
          <span>Professional photographer</span>
          <span class="borer_bottom"></span>
          <p>
            Sed do eiusmod tempor incididunt ut labore et dolo magna aliqua. Ut
            enim ad minim veniam, quis nostd exercitation ullamco laboris nisi
            ut aliquip ex ea mo consequat. Duis aute irure dolor in
            reprehenderit in ullamco.
          </p>
          <a href="#" class="btn main_btn upercase color_whitesmoke">contact</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section About Me -->
