<!-- Start Nav Bar -->
<div class="main_nav_bar">
  <nav class="navbar navbar-expand-lg fixed-top reset_opacity">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon">
        <span class="ic"></span>
        <span class="ic"></span>
        <span class="ic"></span>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" data-scroll=".slide_show"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll=".about_me">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll=".testimonials">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll=".section_activity"
            >ACtivity</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link hotspot" href="#" data-scroll=".testimonials"
            >Hotspots</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll=".recent_works"
            >recent work</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- End Nav Bar -->

<!-- Start Section Slidehow -->
<div class="slide_show">
  <div class="content text-center">
    <div class="container main_padding wow bounceIn">
      <h1 class="upercase color_whitesmoke">
        A CAMERA IS THE SAVE BUTTON<br />
        FOR THE MIND’S EYE
      </h1>
      <a href="#" class="btn main_btn upercase color_whitesmoke">EXPLORe</a>
    </div>
  </div>
</div>
