<!-- Start Section Recent works -->
<div class="recent_works main_padding">
  <div class="content text-center">
    <div class="container">
      <h2 class="upercase main_title">Recent works</h2>
      <span class="borer_bottom"></span>
      <div class="row">
        <div class="col-md-4">
          <div class="box img_box_num_1">
            <div class="content_box">
              <p>Sed ut perspiciatis unde iste natus error sit volup</p>
              <span>Photography</span>
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box img_box_num_2">
            <div class="content_box">
              <p>Sed ut perspiciatis unde iste natus error sit volup</p>
              <span>Digital</span>
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box img_box_num_3">
            <div class="content_box">
              <p>Sed ut perspiciatis unde iste natus error sit volup</p>
              <span>Digital/ Photography</span>
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box img_box_num_4">
            <div class="content_box">
              <p>Sed ut perspiciatis unde iste natus error sit volup</p>
              <span>Digital</span>
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box img_box_num_5">
            <div class="content_box">
              <p>Sed ut perspiciatis unde iste natus error sit volup</p>
              <span>HTML /CSS /js</span>
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box img_box_num_6">
            <div class="content_box">
              <p>Sed ut perspiciatis unde iste natus error sit volup</p>
              <span>HTML /CSS /js</span>
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section  -->
