<!-- Start Section testimonials -->
<div class="testimonials main_padding">
  <div class="container text-center">
    <h2 class="upercase main_title">
      <ng-content class="events"></ng-content
      ><ng-content class="hotspot"></ng-content>
    </h2>
    <span class="borer_bottom"></span>
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-caption" *ngFor="let item of news | slice: 0:3">
            <h1 class="text-primary">{{ item.name }}</h1>
            <p>
              {{ item.description }}
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption" *ngFor="let item of news | slice: 3:6">
            <h1 class="text-primary">{{ item.name }}</h1>
            <p>
              {{ item.description }}
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption" *ngFor="let item of news | slice: 6:9">
            <h1 class="text-primary">{{ item.name }}</h1>
            <p>
              {{ item.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Section testimonials -->
